<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>MobiLeLeLe</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <script src="/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:fragment="navbar(activeLink)">

  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="/"><img alt="car picture" src="/images/car.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto col-12 justify-content-between">
        <li class="nav-item"
        >
          <a class="nav-link" href="/brands/all" th:text="#{nav_bar_all_brands}">All Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/offers/add"  th:classappend="${activeLink == 'add-offer'}? 'active'">Add Offer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/offers/all" th:classappend="${activeLink == 'all-offers'}? 'active'">All Offers</a>
        </li>
        <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/">Action</a>
            <a class="dropdown-item" href="/">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Something else here</a>
          </div>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <div class="form-inline my-2 my-lg-0 border px-3">
            <div class="logged-user"
                 text="Welcome, Gosho"></div>
            <form th:method="post"
                  th:action="@{/users/logout}">
              <input class="btn btn-link" type="submit" value="Logout"/>
            </form>
          </div>
        </li>

        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a class="nav-link" href="/users/register"
             th:classappend="${activeLink == 'register'}? 'active'"
              th:text="#{nav_bar_login_register}">Register</a>
        </li>
        <li class="nav-item" sec:authorize=="!isAuthenticated()">
          <a class="nav-link" href="/users/login"
             th:classappend="${activeLink == 'login'}? 'active'"
             th:text="#{nav_bar_login}">
            Login
          </a>
        </li>

        <li class="nav-item">
          <form th:method="get">
            <label class="text-white" for="lang" th:text="#{nav_bar_language}">Language</label>
            <select
                id="lang"
                name="lang"
              onchange="this.form.submit()">
              <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
              <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
            </select>
          </form>

        </li>

      </ul>

    </div>
  </nav>

</div>

</body>
</html>
